@model WebApplicationForTest.Models.Пользователи

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Детали</h2>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.id_user }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
<div>
    <h4>Пользователи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Фамилия)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Фамилия)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Имя)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Имя)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Отчество)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Отчество)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Логин)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Логин)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Пароль)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Пароль)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Должность.Название_должности)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Должность.Название_должности)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Подразделение.Название_подразделения)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Подразделение.Название_подразделения)
        </dd>

    </dl>
</div>

<form method="post" action="~/Home/Menu">
    <input type="hidden" value="admin" name="Login" />
    <input type="hidden" value="admin12345" name="Password" />
    <input type="submit" value="В меню" />

</form>