
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div>

   


        @if (((ViewBag.Login == ViewBag.Redactor) && (ViewBag.Password == ViewBag.RedactorPas) && (ViewBag.Password != null)) || (ViewBag.redactorForBack == "1"))
        {
            <input type="hidden" value="redactor" name="redactor" />
            <h3>Вы вошли как редактор</h3><br />
            <form method="post" action="ActionRedactor">
                <table>


                    <tr> <td> <p>@Html.ActionLink("Новый раздел", "Create", "Разделы", new { redactor = "redactor" }, new { @style = "font-size:20px;" }) </p></td></tr>
                    <tr> <td> <p>@Html.ActionLink("Редактировать раздел", "Index", "Разделы", new { redactor = "redactor" }, new { @style = "font-size:20px;" }) </p></td></tr>
                    <tr> <td> <p><br /><small><a href="~/Home/Index">Сменить пользователя</a></small></p></td> </tr>

                </table>
            </form>
        }
        else if (((ViewBag.Login == ViewBag.Otchet) && (ViewBag.Password == ViewBag.OtchetPas) && (ViewBag.Password != null))||(ViewBag.otchetForBack=="1"))
    {
            <input type="hidden" value="otchet" name="otchet" />
            <h4>Вы вошли в режим отчетности</h4><br />
            <form method="post" action="ActionOtchet">
                <table>
                    <tr> <td> <p>@Html.ActionLink("Отчет по подразделениям", "Index", "Подразделение", new { otchet = "otchet" }, new { @style = "font-size:20px;" }) </p></td></tr>
                    <tr> <td> <p><br /><small><a href="~/Home/Index">Сменить пользователя</a></small></p></td> </tr>
                </table>
            </form>
        }
        else if (((ViewBag.Login == ViewBag.Admin) && (ViewBag.Password == ViewBag.AdminPas) && (ViewBag.Password != null)) || (ViewBag.adminForBack == "1"))
    {
            <input type="hidden" value="admin" name="admin" />
            <h5>Вы вошли как администратор</h5><br />
                                               <table>
                                                   <tr> <td> <p>@Html.ActionLink("Управление паролями учетных записей", "Index", "Учетные_записи", new { uchet = "uchet" }, new { @style = "font-size:20px;" }) </p></td></tr>
                                                   <tr> <td> <p><a style="font-size:20px;" href="~/Пользователи/Index">Пользователи</a> </p></td> </tr>
                                                   <tr> <td> <p><a style="font-size:20px;" href="~/Подразделение/Index">Подразделения</a> </p></td> </tr>
                                                   <tr> <td> <p><a style="font-size:20px;" href="~/Должность/Index">Должности</a> </p></td> </tr>

                                                   <tr> <td> <p><br /><small><a href="~/Home/Index">Сменить пользователя</a></small></p></td> </tr>

                                               </table>

        }
      

        else if (((ViewBag.Login == ViewBag.Practice) && (ViewBag.Password == ViewBag.PracticePas) && (ViewBag.Password != null))|| (ViewBag.practiceForBack == "1"))
    {
            <h3>Вы вошли в режим практики</h3><br />
            <input type="hidden" value="practice" name="practice" />
            <table>

                <tr> <td> <p>@Html.ActionLink("Журнал по практике", "Index", "Разделы", new { practice = "practice" }, new { @style = "font-size:20px;" }) </p></td></tr>

                <tr> <td> <p><br /><small><a href="~/Home/Index">Сменить пользователя</a></small></p></td> </tr>

            </table>

        }
        else

        {
            if (ViewBag.LogPas == "Success")
            {
                <h3> Вы успешно вошли в систему!</h3>
                <form method="post" action="~/Разделы/Index">
                    <input type="hidden" value="@ViewBag.Login" name="Login" />
                    <input type="hidden" value="@ViewBag.Password" name="Password" />
                    <input type="hidden" value=@ViewBag.Data name="Data" />
                    <input type="hidden" value=@ViewBag.Id_user name="id_user" />
                    <input type="submit" value="Тестирование" />


                </form>
            }
            else
            {
                <h3> Неверно введены данные! Вернитесь на страницу входа и попробуйте еще раз</h3>
                <form method="post" action="~/Home/Index">


                    <input type="submit" value="В начало" />

                </form>
            }


        }



        <!-- else
    {
        <form method="post" action="Index">
            <table>
                <tr>
                    <td><p>Ошибка ввода данных!</p></td>
                </tr>
                <tr>   <td>   <p> <input type="hidden" value="0" name="Error" /></p></td></tr>
                <tr><td><input type="submit" value="Ввести снова" /> </td><td></td></tr>

            </table>
        </form>
            }
    -->
       