@model WebApplicationForTest.Models.ВопросОтветРедактор
<div class="c">

    <div id="newVariant">  </div>
    @if (ViewBag.Type == "Соотношение")
    {

        <div class="form-group">
            @Html.Label("Варианты понятий (через \";\"):")
            <div class="col-md-10">

                @Html.TextBoxFor(model => model.Понятия, new { @class = "form-control", @style = "display:block" })
                @Html.ValidationMessageFor(model => model.Понятия, "", new { @class = "text-danger" })


            </div>
        </div>
    }
    else
    {
        @Html.TextBoxFor(model => model.Понятия, new { @class = "form-control", @style = "display:none", @disabled = "disabled" })
    }
    @if (ViewBag.Type == "Соотношение" || ViewBag.Type == "Разрыв" || ViewBag.Type == "Ввод")
    {
        <div class="form-group">
            @Html.Label("Правильный ответ/ответы (через \";\"):")
            <div class="col-md-10">

                @Html.TextBoxFor(model => model.Правильный_ответ, new { @class = "form-control", @style = "width:500px" })
                @Html.ValidationMessageFor(model => model.Правильный_ответ, "", new { @class = "text-danger" })

            </div>

        </div>
    }
    else if (ViewBag.NULL == '0')
    {


        @Html.TextBoxFor(model => model.Правильный_ответ, new { @class = "form-control", @style = "display:none", @disabled = "disabled" })
        @Html.TextBoxFor(model => model.Понятия, new { @class = "form-control", @style = "display:none", @disabled = "disabled" })
    }
    else
    {


        @Html.TextBoxFor(model => model.Правильный_ответ, new { @class = "form-control", @style = "display:none", @disabled = "disabled" })
        @Html.TextBoxFor(model => model.Понятия, new { @class = "form-control", @style = "display:none", @disabled = "disabled" })
    }
</div>
