@model WebApplicationForTest.Models.ВопросОтветРедактор

<div class="c">
    <div class="form-group">
        @Html.Label("Варианты понятий (через запятую, только для типа \"Соотношение\"):")
        <div class="col-md-10">
            @if (@ViewBag.Def == true)
            {
                @Html.TextBoxFor(model => model.Понятия, new { @class = "form-control", @style = "width:500px" })
                @Html.ValidationMessageFor(model => model.Понятия, "", new { @class = "text-danger" })
            }
            else
            {
                @Html.TextBoxFor(model => model.Понятия, new { @class = "form-control", @style = "width:500px", @disabled = "disabled" })
            }
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Варианты ответов (через запятую):")
        <div class="col-md-10">
            @if (@ViewBag.Variant == true)
            {
                @Html.TextBoxFor(model => model.Варианты_ответов, new { @class = "form-control", @style = "width:500px" })
                @Html.ValidationMessageFor(model => model.Варианты_ответов, "", new { @class = "text-danger" })
            }
            else
            {
                @Html.TextBoxFor(model => model.Варианты_ответов, new { @class = "form-control", @style = "width:500px", @disabled = "disabled" })
            }
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Правильный ответ/ответы (через запятую):")
        <div class="col-md-10">
            @if (ViewBag.NULL == '0')
            {

                @Html.TextBoxFor(model => model.Правильный_ответ, new { @class = "form-control", @style = "width:500px", @disabled = "disabled" })
              

            }
            else
            {
                @Html.TextBoxFor(model => model.Правильный_ответ, new { @class = "form-control", @style = "width:500px" })
                @Html.ValidationMessageFor(model => model.Правильный_ответ, "", new { @class = "text-danger" })
            }
        </div>
    </div>
</div>
