<div class="c">
    <div class="form-group">
        @Html.Label("Варианты понятий (через запятую, только для типа \"Соотношение\"):")
        <div class="col-md-10">
            @if (@ViewBag.Def == true)
            {
                @Html.TextBox("def", "", new { @class = "form-control", @style = "width:500px" })
            }
            else
            {
                @Html.TextBox("def", "", new { @class = "form-control", @style = "width:500px", @disabled = "disabled" })
            }
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Варианты ответов (через запятую):")
        <div class="col-md-10">
            @if (@ViewBag.Variant == true)
            {
                @Html.TextBox("variant", "", new { @class = "form-control", @style = "width:500px" })
            }
            else
            {
                @Html.TextBox("variant", "", new { @class = "form-control", @style = "width:500px", @disabled = "disabled" })
            }
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Правильный ответ/ответы (через запятую):")
        <div class="col-md-10">
            @if (ViewBag.NULL == '0')
            {

                @Html.TextBox("correct", "", new { @class = "form-control", @style = "width:500px", @disabled = "disabled" })

            }
            else
            {
                @Html.TextBox("correct", "", new { @class = "form-control", @style = "width:500px"})
            }
        </div>
    </div>
</div>
