@model IEnumerable<WebApplicationForTest.Models.Вопросы>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ int T = 0;}
<h2><big>Тест "@ViewBag.НазваниеТеста"</big></h2> <br /><br />

@if (ViewBag.User != "redactor")
{
    <form method="post" action="~/Результат_теста/Index">
        <input type="hidden" value=@ViewBag.IdТеста name="id_test" />
        <table class="table">
            <tr>

                <th><big>Выберите верный ответ</big><br /><br /></th>



            </tr>

            @foreach (var item in Model)

            {
                if ((item.Тип_ответа.Replace(" ", "") != "Соотношение") && (item.Тип_ответа.Replace(" ", "") != "Разрыв"))
                {
                    <tr>
                        <td>
                            <br /><br /><big> @Html.DisplayFor(m => item.Текст_вопроса)</big><br /><br />
                        </td>

                    </tr>
                }
                else if (item.Тип_ответа.Replace(" ", "") != "Разрыв")
                {

                    <tr>


                        <td>

                            <br /><br /><big> @Html.DisplayFor(m => item.Текст_вопроса)</big><br /><br />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            @foreach (var itemS in item.Ответы)
                            {

                                if (itemS.Флаг_подвопроса == false)
                                {
                                    <em>
                                        @Html.DisplayFor(m => itemS.Текст_ответа)
                                    </em>
                                }

                                if (itemS.Флаг_подвопроса == true)
                                {
                                    <b>
                                        @Html.DisplayFor(m => itemS.Текст_ответа)
                                    </b>
                                }
                            }
                        </td>
                    </tr>

                }
                else
                {

                    <tr>
                        <td>
                            <br /><br />
                            @foreach (var part in item.Текст_вопроса.Replace("  ", "").Split(new string[] { "..." }, StringSplitOptions.RemoveEmptyEntries))
                            {
                                <big>
                                    @part
                                </big>
                                if (part != item.Текст_вопроса.Replace("  ", "").Split(new string[] { "..." }, StringSplitOptions.RemoveEmptyEntries).Last().ToString())
                                {
                                    @Html.DropDownList(item.id_вопроса.ToString(), ViewData[T.ToString()] as SelectList, "--Выбор ответа--", new { id = "ans" })
                                }
                            }
                        </td>
                    </tr>
                    T++;
                }
                foreach (var itemO in item.Ответы)
                {
                    if (item.Тип_ответа.Replace(" ", "") == "Выбор")
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(m => itemO.Текст_ответа)
                            </td>
                            <td>

                                @Html.RadioButton((item.id_вопроса).ToString(), itemO.Текст_ответа)
                            </td>
                        </tr>
                    }
                    else if (item.Тип_ответа.Replace(" ", "") == "Ввод")
                    {

                        <tr>
                            <td><p>Введите ответ без посторонних знаков: </p> </td>
                            <td><input type="text" name=@item.id_вопроса /></td>
                        </tr>
                    }
                    else if (item.Тип_ответа.Replace(" ", "") == "Соотношение")
                    {
                       
                        <tr>
                            @if (itemO.Флаг_подвопроса == true)
                            {

                                <td> @Html.DisplayFor(m => itemO.Текст_ответа) </td>
                                <td><input type="text" name=@(itemO.id_ответа + "-"+ item.id_вопроса) /></td>
                            }
                        </tr>
                    }
                    else if (item.Тип_ответа.Replace(" ", "") == "Несколько")
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => itemO.Текст_ответа)
                            </td>
                            <td>
                                @Html.CheckBox(item.id_вопроса.ToString(), false)

                            </td>
                        </tr>
                    }

                }


            }

            <tr><td><br /><br /><input type="submit" value="Отправить" /> </td><td></td></tr>

        </table>
    </form>
}
else
{
    <table class="table">

        <tr>
            <td>
                @Html.ActionLink("Добавить вопрос", "Create", new { id = @ViewBag.IdТеста })
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><br /><b>Вопрос:</b><br /></td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Текст_вопроса)
                    @Html.ActionLink("Изменить", "Edit", new { id = item.id_вопроса }) |
                    @Html.ActionLink("Детали", "Details", new { id = item.id_вопроса }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.id_вопроса })

                </td>
            </tr>

            <tr>
                <td><b>Варианты ответов:</b><br /></td>
            </tr>
            foreach (var itemA in item.Ответы)
            {
                <tr>
                    <td>
                        @if ((item.Тип_ответа.Replace(" ", "") == "Выбор") || (item.Тип_ответа.Replace(" ", "") == "Ввод") || (item.Тип_ответа.Replace(" ", "") == "Несколько"))
                        {
                            @Html.DisplayFor(m => itemA.Текст_ответа)
                            if (itemA.Флаг_правильного_ответа)
                            {
                                @Html.Label(" - ВЕРНЫЙ ОТВЕТ")
                            }

                        }
                        else if (item.Тип_ответа.Replace(" ", "") == "Разрыв")
                        {
                            if (itemA.Флаг_правильного_ответа)
                            {
                                @Html.DisplayFor(m => itemA.Текст_ответа)
                                @Html.Label(" - ВЕРНЫЙ ОТВЕТ")
                            }

                        }
                        else if (item.Тип_ответа.Replace(" ", "") == "Соотношение")
                        {
                            if ((itemA.Флаг_правильного_ответа) && (itemA.Флаг_подвопроса == true))
                            {
                                @Html.DisplayFor(m => itemA.Текст_ответа)

                                @Html.DisplayFor(m => itemA.Правильный_ответ)
                                @Html.Label(" - ВЕРНЫЙ ОТВЕТ")
                            }

                        }

                    </td>
                </tr>
            }


        }


    </table>
   
    <form method="post" action="~/Home/Menu">
        <input type="hidden" value="redactor" name="Login" />
        <input type="hidden" value="redactor12345" name="Password" />
        <input type="submit" value="В меню" />

    </form>
}