@model WebApplicationForTest.Models.Тесты

@{
    ViewBag.Title = "Удалить тему";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление темы</h2>
<p>@Html.ActionLink("К списку тем", "Index", new { razdel = Model.Id_Раздела, redactor = "redactor" })

@Html.ActionLink("К списку разделов", "Index", "Разделы", new { redactor = "redactor" }, null)</p>
<h3>Вы действительно хотите удалить эту тему?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Название_темы_теста)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название_темы_теста)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Количество_вопросов)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Количество_вопросов)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Разделы.Название_раздела)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Разделы.Название_раздела)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" value="redactor" name=redactor />
        @Html.HiddenFor(model => model.Id_Раздела)
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> 
           

            <form method="post" action="~/Home/Menu">
                <table class="table">
                    <tr>
                        <td>
                            <input type="hidden" value="1" name="redactorForBack" />
                            <input type="submit" value="В меню" />


                        </td>
                    </tr>

                </table>
            </form>
        </div>
    }
</div>
