@model WebApplicationForTest.Models.Тесты

@{
    ViewBag.Title = "Детали";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Просмотр деталей</h2>

<div>
    <h4>Темы</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Название_темы_теста)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название_темы_теста)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Количество_вопросов)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Количество_вопросов)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Разделы.Название_раздела)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Разделы.Название_раздела)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.id_теста }) |
    @Html.ActionLink("Назад", "Index")
</p>
