@model IEnumerable<WebApplicationForTest.Models.Разделы>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Выбор раздела</h2> <br />


<form method="post" action="~/Тесты/Index">

    <table class="table">
        <tr>
            <td>
                <input type="hidden" value=@ViewBag.Id_user name="id_user" />
                <input type="hidden" value=@ViewBag.r name="redactor" />
            </td>

        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                <big> @Html.DisplayFor(m => item.Название_раздела)</big>

            </td>
            <td>
                @Html.RadioButton("Раздел", item.id_Раздела)
            </td>
        </tr>
            <tr>
                <td>
                    @if (ViewBag.r == "redactor")
                    {
                        
                    <small>
                        @Html.ActionLink("Переименовать", "Edit", new { id = item.id_Раздела }) |
                    </small> 
                    <small>
                        @Html.ActionLink("Детали", "Details", new { id = item.id_Раздела }) |
                    </small> 
                        <small>
                            @Html.ActionLink("Удалить", "Delete", new { id = item.id_Раздела })
                        </small>
                   
                        <br />

                    }
                </td>

            </tr>
            

        }

        <tr><td><br /><br /><input type="submit" value="Отправить" /> </td><td></td></tr>

    </table>
</form>
@if (ViewBag.r == "redactor")
{

<form method="post" action="~/Home/Menu">
    <table class="table">
        <tr>
            <td>
                <input type="hidden" value="redactor" name="Login" />
                <input type="hidden" value="redactor12345" name="Password" />
                <input type="submit" value="В меню" />


            </td>
        </tr>

    </table>
</form>
}
